.vert {
    background-color: green;
}
.rouge {
    background-color: red;
}
.bleu {
    background-color: blue;
}

.hidden {
    display: none;
}

.rectangle {
        width: 300px;
        height: 200px;
        background-color: blue;
}